<script type="text/javascript">//<![CDATA[
XHR.poll(3, '<%=url([[admin]], [[control]], [[weburl]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('weburl_status');
		if (data && tb) {
			if (data.running) {
				tb.innerHTML = '<em><b><font color=green><%:网址过滤%> <%:RUNNING%></font></b></em>';
			} else {
				tb.innerHTML = '<em><b><font color=red><%:网址过滤%> <%:NOT RUNNING%></font></b></em>';
			}
		}
	}
);
//]]>
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="weburl_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
